// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer {
  font-size: 10px;
  width: 90%;
  background-color: #EEE;
  border-top: solid 1px #999;
  margin: 15px 0 0 0;
}

