// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#articles {
  h2 {
    font-size: 16px;
    margin-bottom: 2px;
    .comments {
      font-size: 12px;
      font-weight: normal;
    }
  }
  .author {
    font-style: italic;
    color: #333;
  }
}

code {
  color: blue;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  font-weight: bold;
  background: lightgrey;
  padding: 1.5em;
  border: 1px solid grey;
  border-radius: 2em / 1em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
