// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments {
  font-size: 12px;
}

.comment {
  background-color: #DDD;
  padding: 20px 20px 0px 20px;
  width: 75%;
  border: solid 1px #333;
  margin: 15px 0;
}

.comment .author_name {
  font-weight: bold;
}

